* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  background-image: url(https://resources.commlabindia.com/hubfs/webinars/corporate-training-with-ai-banner.jpg);
  background-size: 100vw;
  background-position: fixed;
}
@media (max-width: 576px) {
  .container {
    background-image: url(https://resources.commlabindia.com/hubfs/webinars/corporate-training-with-ai-banner.jpg) !important;
    background-size: cover;
    background-position: center center !important;
    background-repeat: no-repeat !important;
  }
}
hr {
  width: 80%;
}
@media (max-width: 576px) {
  .lady-image {
    width: 100px;
    margin-left: 250px;
  }
}
.start {
  display: flex;
  margin-bottom: 50px;
  color: navy;
  width: 100%;
}
.box {
  background-color: #bfbfbf;
  margin-right: 50px;
  text-align: center;
  width: 60%;
}

@media (max-width: 576px) {
  .box {
    background-color: #bfbfbf;
    margin-left: 20px;
    text-align: center;
    width: 90%;
  }
}
@media (max-width: 576px) {
  .start {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    color: navy;
    width: 100%;
  }
}
.i {
  background-color: transparent;
}
span {
  color: maroon;
  font-style: italic;
}
.b {
  background-color: black;
  color: white;
  margin: 10px;
}
.logos {
  background-color: red;
  width: 100vw;
  margin-bottom: -30px;
}

.i-t {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
}
.button {
  background-color: brown;
  color: white;
  border: 1px solid brown;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}
.head {
  color: white;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 576px) {
  .head {
    color: white;
    text-align: center;
    padding-left: 80px;
    padding-right: 130px;
    font-size: 16px;
    font-weight: 500;
  }
}

.d {
  background-image: url(https://res.cloudinary.com/dxgbxchqm/image/upload/v1698996979/download_2_y3bioi.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: navy;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 576px) {
  .learn {
    font-size: 18px;
    margin-top: 40px;
  }
}
@media (max-width: 576px) {
  .d {
    text-align: center;
  }
}
.c-h1 {
  color: maroon;
}
.flex {
  display: flex;
  justify-content: flex-start;
  margin-left: 200px;
}
@media (max-width: 576px) {
  .flex {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    font-size: 20px;
    max-width: 400px;
  }
}
.icon {
  color: red;
  margin-top: 20px;
  margin-right: 5px;
}
.d-h1 {
  margin-left: 200px;
  margin-right: 200px;
}

@media (max-width: 576px) {
  .d-h1 {
    margin-left: 80px;
    margin-right: 150px;
    font-size: 22px;
  }
}

@media (max-width: 576px) {
  .d1-p1 {
    margin-left: 80px;
    margin-right: 150px;
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .d-p2 {
    margin-left: 80px;
    margin-right: 150px;
    font-size: 20px;
    max-width: 400px;
  }
}
.e {
  color: white;
  background-color: black;
}
.hosts {
  text-align: center;
}
@media (max-width: 576px) {
  .hosts {
    text-align: center;
    font-size: 16px;
  }
}
.cards {
  display: flex;
  flex-direction: row;
}
@media (max-width: 576px) {
  .cards {
    display: flex;
    flex-direction: column;
  }
}
.s-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 300px;
  margin: 20px;
}

.picture {
  width: 300px;
}

.f {
  color: white;
  text-align: center;
}
.flexed {
  display: flex;
  color: white;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .flexed {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  .privacy {
    padding-left: 120px;
  }
}
.g {
  background-color: black;
  width: 100vw;
  padding-left: 50px;
  padding-right: 50px;
}
.trigger-button {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  color: white;
  padding: 8px 15px 8px 15px;
  margin: 8px;
  background-color: maroon;
  border: none;
  border-radius: 16px;
  outline: none;
  margin-left: 200px;
}
@media (max-width: 576px) {
  .trigger-button {
    margin-right: 700px;
  }
}
@media (max-width: 576px) {
  h3 {
    font-size: 14px;
    padding-right: 100px;
    padding-left: 10px;
  }
}
@media (max-width: 576px) {
  h4 {
    font-size: 14px;
    padding-right: 100px;
    padding-left: 10px;
  }
}

.popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  background-color: transparent;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 100px;
  background-color: transparent;
}
.head-1 {
  padding-top: 50px;
  color: black;
}
@media (max-width: 576px) {
  .head-1 {
    font-size: 16px;
    padding-top: 10px;
  }
}
.input-bg {
  background-color: #fef2f4;
  border-color: #ff0b37;
}
.error {
  color: #ff0b37;
}
.card {
  box-shadow: 0px 4px 16px 0px #bfbfbf;

  padding: 20px;
  background-color: #bfbfbf;
}
.success-image {
  margin-left: 40px;
}

.success-button {
  background-color: #ea580c;
  border-color: #ea580c;
  border-radius: 8px;
  color: white;
}
.form {
  text-align: start;
}
@media (max-width: 576px) {
  .form {
    width: 250px;
    margin-left: -20px;
    padding-left: 20px;
  }
}
label {
  text-align: start;
}
input {
  width: 350px;
}
@media (max-width: 576px) {
  input {
    width: 200px;
  }
}
.button {
  background-color: #ea580c;
  margin-left: 40px;
  border-color: #ea580c;
  color: white;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 100px;
}
@media (max-width: 576px) {
  .button {
    margin-right: 200px;
    margin-left: 10px;
  }
}
.trigger-button-1 {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  color: white;
  padding: 8px 15px 8px 15px;
  margin: 8px;
  background-color: maroon;
  border: none;
  border-radius: 4px;
  outline: none;
  margin-right: 300px;
}
.popup-container-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  background-color: transparent;
}
@media (max-width: 576px) {
  .trigger-button-1 {
    margin-right: 600px;
  }
}
